.l-public {
  .header-wrap {
    background: var(--background);
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space-medium;
    
    &.authed {
      border-bottom-color: transparent;
      justify-content: center;
    }

    .header-left img.logo { 
      height: $space-larger;
      cursor: pointer;      
    }

    .header-right {
      display: flex;
      align-items: center;

      .header-link {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 0 $space-medium;
        line-height: $space-larger;
        color: var(--on-background);
        transition: color $transition-fast;
    
        &:hover {
          color: var(--on-background-alt);
        }
    
        i {
          position: relative;
          top: 2px;
        }

        &.active {
          color: var(--on-background);
        }
      }
    }
  }

  .page-content {
    padding: $space-larger $space-medium;
  }
}