/* SWATCH IDEAS */
$dark-navy: #0E213B;
$burnt-orange: #D14A08;
$orange: #F28A0F;
$marigold: #E5CC55;
$cream: #FFE7BD;
$coffee: #662E0E;
$jade-green: #939a66;
$astronaut-blue: #1b386a;

/* SWATCH - V1 */
// COLORS - UNIVERSAL
$primary: #1b386a;
$on-primary: #FFFFFF;
$secondary: #F28A0F;
$on-secondary: #FFE7BD;
$neutral: #A0A0A0;
$success: #21BFA3;
$warning: #F2C94C;
$danger: #EB5757;

// COLORS - LIGHT
$l-bar: #0B0A10;
$l-on-bar: #676E7C;
$l-background: #F2F2F2;
$l-on-background: #737A7A;
$l-on-background-alt: #0B0A10;
$l-surface: #FFFFFF;
$l-on-surface: #242424;
$l-border: #EAEAEA;
$l-background-border: #E0E0E0;
$l-background-border-light: #F7F7F7;
$l-link: #688FCF;

// COLORS - DARK (WIP)
$d-bar: #57ACDC;
$d-on-bar: #676E7C;
$d-background: #242424;
$d-on-background: #737A7A;
$d-on-background-alt: #0B0A10;
$d-surface: #737A7A;
$d-on-surface: #242424;
$d-border: #EAEAEA;
$d-background-border: #E0E0E0;
$d-background-border-light: #F7F7F7;
$d-link: #688FCF;

/* COLORS FROM ALEX */
// // COLORS - UNIVERSAL
// $primary: #57ACDC;
// $on-primary: #FFFFFF;
// $secondary: #21BFA3;
// $on-secondary: #037460;
// $neutral: #A0A0A0;
// $success: #21BFA3;
// $warning: #F2C94C;
// $danger: #EB5757;

// // COLORS - LIGHT
// $l-bar: #0B0A10;
// $l-on-bar: #676E7C;
// $l-background: #F2F2F2;
// $l-on-background: #737A7A;
// $l-on-background-alt: #0B0A10;
// $l-surface: #FFFFFF;
// $l-on-surface: #242424;
// $l-border: #EAEAEA;
// $l-background-border: #E0E0E0;
// $l-background-border-light: #F7F7F7;
// $l-link: #688FCF;

// // COLORS - DARK (WIP)
// $d-bar: #57ACDC;
// $d-on-bar: #676E7C;
// $d-background: #242424;
// $d-on-background: #737A7A;
// $d-on-background-alt: #0B0A10;
// $d-surface: #737A7A;
// $d-on-surface: #242424;
// $d-border: #EAEAEA;
// $d-background-border: #E0E0E0;
// $d-background-border-light: #F7F7F7;
// $d-link: #688FCF;

// ASSIGN COLORS TO CSS VARS
:root {
  // UNIVERSAL
  @include generateCSSVars($primary, 'primary');
  @include generateCSSVars($on-primary, 'on-primary');
  @include generateCSSVars($secondary, 'secondary');
  @include generateCSSVars($on-secondary, 'on-secondary');
  @include generateCSSVars($neutral, 'neutral');
  @include generateCSSVars($success, 'success');
  @include generateCSSVars($warning, 'warning');
  @include generateCSSVars($danger, 'danger');

  // LIGHT
  @include generateCSSVars($l-bar, 'bar');
  @include generateCSSVars($l-on-bar, 'on-bar');
  @include generateCSSVars($l-background, 'background');
  @include generateCSSVars($l-on-background, 'on-background');
  @include generateCSSVars($l-on-background-alt, 'on-background-alt');
  @include generateCSSVars($l-surface, 'surface');
  @include generateCSSVars($l-on-surface, 'on-surface');
  @include generateCSSVars($l-border, 'border');
  @include generateCSSVars($l-background-border, 'background-border');
  @include generateCSSVars($l-background-border-light, 'background-border-light');
  @include generateCSSVars($l-link, 'link');

  // DARK
  &.dark {
    @include generateCSSVars($d-bar, 'bar');
    @include generateCSSVars($d-on-bar, 'on-bar');
    @include generateCSSVars($d-background, 'background');
    @include generateCSSVars($d-on-background, 'on-background');
    @include generateCSSVars($d-on-background-alt, 'on-background-alt');
    @include generateCSSVars($d-surface, 'surface');
    @include generateCSSVars($d-on-surface, 'on-surface');
    @include generateCSSVars($d-border, 'border');
    @include generateCSSVars($d-background-border, 'background-border');
    @include generateCSSVars($d-background-border-light, 'background-border-light');
    @include generateCSSVars($d-link, 'link');
  }
}
