// @font-face {
//   font-family: 'icomoon';
//   src:  url('./fonts/icomoon.eot?77plin');
//   src:  url('./fonts/icomoon.eot?77plin#iefix') format('embedded-opentype'),
//     url('./fonts/icomoon.woff2?77plin') format('woff2'),
//     url('./fonts/icomoon.ttf?77plin') format('truetype'),
//     url('./fonts/icomoon.woff?77plin') format('woff'),
//     url('./fonts/icomoon.svg?77plin#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-drag:before {content: "\e900";}
// .icon-home:before {content: "\e601";}
// .icon-pencil:before {content: "\e60d";}
// .icon-target:before {content: "\e630";}
// .icon-light:before {content: "\e647";}
// .icon-dark:before {content: "\e649";}
// .icon-cog:before {content: "\e673";}
// .icon-at-sign:before {content: "\e695";}
// .icon-envelope:before {content: "\e696";}
// .icon-paper-plane:before {content: "\e699";}
// .icon-eye:before {content: "\e6a5";}
// .icon-eye-crossed:before {content: "\e6a6";}
// .icon-file-empty:before {content: "\e6b3";}
// .icon-file-add:before {content: "\e6b4";}
// .icon-files:before {content: "\e6b7";}
// .icon-books:before {content: "\e718";}
// .icon-users:before {content: "\e723";}
// .icon-team:before {content: "\e726";}
// .icon-map-marker:before {content: "\e77a";}
// .icon-calendar:before {content: "\e785";}
// .icon-power:before {content: "\e7b9";}
// .icon-bubbles:before {content: "\e7d7";}
// .icon-pulse:before {content: "\e7e9";}
// .icon-graph:before {content: "\e7fa";}
// .icon-rank:before {content: "\e801";}
// .icon-rank2:before {content: "\e802";}
// .icon-rank3:before {content: "\e803";}
// .icon-skill:before {content: "\e870";}
// .icon-syncing:before {content: "\e8d4";}
// .icon-sync:before {content: "\e8dd";}
// .icon-clock:before {content: "\e8e8";}
// .icon-exit:before {content: "\e8fe";}
// .icon-magnifier:before {content: "\e922";}
// .icon-cross:before {content: "\e92a";}
// .icon-check:before {content: "\e934";}
// .icon-cross-large:before {content: "\e935";}
// .icon-plus:before {content: "\e936";}
// .icon-minus:before {content: "\e937";}
// .icon-chevron-up:before {content: "\e939";}
// .icon-chevron-down:before {content: "\e93a";}
// .icon-chevron-left:before {content: "\e93b";}
// .icon-chevron-right:before {content: "\e93c";}
// .icon-arrow-up:before {content: "\e941";}
// .icon-arrow-down:before {content: "\e942";}
// .icon-arrow-left:before {content: "\e943";}
// .icon-arrow-right:before {content: "\e944";}
// .icon-warning:before {content: "\e955";}
